* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #153677, #4e085f);
}

.container {
  min-height: 100vh;
  padding: 20px;
}

.todo-app {
  background: white;
  width: 100%;
  max-width: 550px;
  padding: 30px;
  border-radius: 10px;
  margin: 60px auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #002765;
  margin-bottom: 20px;
  text-align: center;
  flex-wrap: wrap;
}

.heading img {
  width: 28px;
  height: 28px;
}

.row {
  display: flex;
  background: #edeef0;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

.row input {
  flex: 1;
  border: none;
  background: none;
  font-size: 16px;
  padding: 10px;
}

.row input::placeholder {
  color: #888;
}

.row input:focus {
  outline: none;
}

.row button {
  border: none;
  background: #ff5945;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  padding: 12px 25px;
}

ul li {
  list-style: none;
  font-size: 17px;
  /* background: black;
  color: white; */
  padding: 11px 8px 11px 50px;
  position: relative;
  cursor: pointer;
}

ul li::before {
  content: '';
  position: absolute;
  /* background-color: black; */
  width: 20px;
  height: 20px;
  left: 10px;
  border-radius: 50%;
  background-image: url('/src/unchecked.png');
  background-size: cover;
}

ul li.checked {
  text-decoration: line-through;
  color: #555;
}

ul li.checked::before {
  background-image: url('/src/checked.png');
}

ul li .close {
  position: absolute;
  /* background: black; */
  right: 10px;
  top: 8px;
  font-size: 20px;
  color: #888;
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 100%;
  transition: 0.3s;
}

ul li .close:hover {
  background: #ddd;
  color: red;
}

footer {
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

/* Mobile responsiveness */
@media (max-width: 400px) {
  .todo-app {
    padding: 20px;
  }

  .heading h1 {
    font-size: 25px;
  }

  .heading img {
    width: 22px;
    height: 22px;
  }

  .row {
    flex-direction: column;
  }

  .row input,
  .row button {
    font-size: 15px;
    padding: 15px;
  }

  .row input::placeholder {
    text-align: center;
  }

  ul li {
    font-size: 15px;
    padding-left: 45px;
  }

  ul li::before {
    width: 18px;
    height: 18px;
  }
}
